<a href="https://colab.research.google.com/github/mikosta/Tugas-Kelompok-1-/blob/main/uasdw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: buat agar membaca file dari csv dari "C:\Users\rezaprakosta\Downloads\Bike Sales Dataset.csv"

import pandas as pd

# Ganti path dengan path file CSV di Google Colab
file_path = "/content/Bike Sales Dataset.csv"
df = pd.read_csv(file_path)

print(df.head())

       Date  Day    Month  Year Customer_ID  Customer_Age  \
0  1/1/2011    1  January  2011         C-1            23
1  1/1/2011    1  January  2011         C-2            33
2  1/1/2011    1  January  2011         C-3            17
3  1/1/2011    1  January  2011         C-4            39
4  1/1/2011    1  January  2011         C-5            42

              Age_Group Customer_Gender        Country             State  ...  \
0           Youth (<25)               M      Australia          Victoria  ...
1  Young Adults (25-34)               F         France           Yveline  ...
2           Youth (<25)               M         Canada  British Columbia  ...
3        Adults (35-64)               M  United States        Washington  ...
4        Adults (35-64)               M  United States        California  ...

  Unit_Cost Unit_Price  Profit    Cost Revenue              Manufacturer  \
0    1252.0     2295.0   561.0  1252.0  1813.0               Yeti Cycles
1    2171.0     3578.0  1097.0  4342.0  5439.0  Cannondale Bicycle Corp.
2    1519.0     2443.0   900.0  1519.0  2419.0  Cannondale Bicycle Corp.
3     713.0     1120.0   482.0  2139.0  2621.0                Fuji Bikes
4     344.0      540.0   185.0   344.0   529.0                Fuji Bikes

   Shipping_Option  Shipping_ID  Shipping_Cost  Num
0              Yes  140544-1423           14.0  1.0
1              Yes  240544-1133           11.0  2.0
2              Yes  140544-1317           13.0  3.0
3              Yes  340544-1539           15.0  4.0
4              Yes  140544-1542           15.0  5.0

[5 rows x 26 columns]

In [ ]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

Date                0
Day                 0
Month               0
Year                0
Customer_ID         0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product_ID          0
Product             0
Order_ID            1
Order_Quantity      1
Unit_Cost           1
Unit_Price          1
Profit              1
Cost                1
Revenue             1
Manufacturer        1
Shipping_Option     1
Shipping_ID         1
Shipping_Cost       1
Num                 1
dtype: int64

In [17]:
df = df.dropna()

In [18]:
# Remove duplicate rows
df = df.drop_duplicates()

In [21]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Customer_Age'] = df['Customer_Age'].astype('int')
df['Order_Quantity'] = df['Order_Quantity'].astype('int')
df['Unit_Cost'] = df['Unit_Cost'].astype('float')
df['Unit_Price'] = df['Unit_Price'].astype('float')
df['Profit'] = df['Profit'].astype('float')
df['Cost'] = df['Cost'].astype('float')
df['Revenue'] = df['Revenue'].astype('float')
df['Shipping_Cost'] = df['Shipping_Cost'].astype('float')

In [22]:
# Mengonversi kolom tanggal ke format datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [23]:
df.rename(columns={'Date': 'date', 'Day': 'day', 'Month': 'month', 'Year': 'year', 'Customer_ID': 'customer_id',
                   'Customer_Age': 'customer_age', 'Age_Group': 'age_group', 'Customer_Gender': 'customer_gender',
                   'Country': 'country', 'State': 'state', 'Product_Category': 'product_category',
                   'Sub_Category': 'sub_category', 'Product_ID': 'product_id', 'Product': 'product',
                   'Order_ID': 'order_id', 'Order_Quantity': 'order_quantity', 'Unit_Cost': 'unit_cost',
                   'Unit_Price': 'unit_price', 'Profit': 'profit', 'Cost': 'cost', 'Revenue': 'revenue',
                   'Manufacturer': 'manufacturer', 'Shipping_Option': 'shipping_option', 'Shipping_ID': 'shipping_id',
                   'Shipping_Cost': 'shipping_cost', 'Num': 'num'}, inplace=True)

In [24]:
from IPython.display import display

# Menampilkan beberapa baris pertama
display(df.head())

# Menampilkan informasi umum
display(df.info())

# Menampilkan statistik deskriptif
display(df.describe())

,date,day,month,year,customer_id,customer_age,age_group,customer_gender,country,state,...,unit_cost,unit_price,profit,cost,revenue,manufacturer,shipping_option,shipping_id,shipping_cost,num
0,2011-01-01,1,January,2011,C-1,23,Youth (<25),M,Australia,Victoria,...,1252.0,2295.0,561.0,1252.0,1813.0,Yeti Cycles,Yes,140544-1423,14.0,1.0
1,2011-01-01,1,January,2011,C-2,33,Young Adults (25-34),F,France,Yveline,...,2171.0,3578.0,1097.0,4342.0,5439.0,Cannondale Bicycle Corp.,Yes,240544-1133,11.0,2.0
2,2011-01-01,1,January,2011,C-3,17,Youth (<25),M,Canada,British Columbia,...,1519.0,2443.0,900.0,1519.0,2419.0,Cannondale Bicycle Corp.,Yes,140544-1317,13.0,3.0
3,2011-01-01,1,January,2011,C-4,39,Adults (35-64),M,United States,Washington,...,713.0,1120.0,482.0,2139.0,2621.0,Fuji Bikes,Yes,340544-1539,15.0,4.0
4,2011-01-01,1,January,2011,C-5,42,Adults (35-64),M,United States,California,...,344.0,540.0,185.0,344.0,529.0,Fuji Bikes,Yes,140544-1542,15.0,5.0

<class 'pandas.core.frame.DataFrame'>
Index: 21463 entries, 0 to 21462
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              21463 non-null  datetime64[ns]
 1   day               21463 non-null  int64
 2   month             21463 non-null  object
 3   year              21463 non-null  int64
 4   customer_id       21463 non-null  object
 5   customer_age      21463 non-null  int64
 6   age_group         21463 non-null  object
 7   customer_gender   21463 non-null  object
 8   country           21463 non-null  object
 9   state             21463 non-null  object
 10  product_category  21463 non-null  object
 11  sub_category      21463 non-null  object
 12  product_id        21463 non-null  object
 13  product           21463 non-null  object
 14  order_id          21463 non-null  object
 15  order_quantity    21463 non-null  int64
 16  unit_cost         21463 non-null  float64
 17  unit_price        21463 non-null  float64
 18  profit            21463 non-null  float64
 19  cost              21463 non-null  float64
 20  revenue           21463 non-null  float64
 21  manufacturer      21463 non-null  object
 22  shipping_option   21463 non-null  object
 23  shipping_id       21463 non-null  object
 24  shipping_cost     21463 non-null  float64
 25  num               21463 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(4), object(14)
memory usage: 4.4+ MB

None

,date,day,year,customer_age,order_quantity,unit_cost,unit_price,profit,cost,revenue,shipping_cost,num
count,21463,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.000000,21463.00000
mean,2013-04-01 15:18:57.716069376,15.193123,2012.625821,34.943950,9.282160,517.612822,866.505614,462.515259,876.870382,1339.385640,12.943624,10732.00000
min,2011-01-01 00:00:00,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-25.000000,1.000000,2.000000,3.000000,1.00000
25%,2013-01-02 00:00:00,7.000000,2013.000000,27.000000,1.000000,3.000000,9.000000,50.000000,46.000000,104.000000,11.000000,5366.50000
50%,2013-08-19 00:00:00,15.000000,2013.000000,33.000000,4.000000,26.000000,50.000000,240.000000,336.000000,601.000000,14.000000,10732.00000
75%,2013-09-30 00:00:00,23.000000,2013.000000,42.000000,17.000000,1083.000000,1701.000000,630.000000,1266.000000,1955.000000,15.000000,16097.50000
max,2013-11-09 00:00:00,31.000000,2013.000000,86.000000,30.000000,2171.000000,3578.000000,14055.000000,40014.000000,54069.000000,15.000000,21463.00000
std,NaN,8.896286,0.695445,10.843065,9.445036,699.282396,1166.253092,632.147271,1276.549824,1872.115995,2.578881,6195.97875

In [25]:
# Menampilkan beberapa baris pertama dari dataset yang sudah dibersihkan
print(df.head())

# Menampilkan informasi umum tentang dataset
print(df.info())

# Menampilkan statistik deskriptif dari dataset
print(df.describe())

        date  day    month  year customer_id  customer_age  \
0 2011-01-01    1  January  2011         C-1            23
1 2011-01-01    1  January  2011         C-2            33
2 2011-01-01    1  January  2011         C-3            17
3 2011-01-01    1  January  2011         C-4            39
4 2011-01-01    1  January  2011         C-5            42

              age_group customer_gender        country             state  ...  \
0           Youth (<25)               M      Australia          Victoria  ...
1  Young Adults (25-34)               F         France           Yveline  ...
2           Youth (<25)               M         Canada  British Columbia  ...
3        Adults (35-64)               M  United States        Washington  ...
4        Adults (35-64)               M  United States        California  ...

  unit_cost unit_price  profit    cost revenue              manufacturer  \
0    1252.0     2295.0   561.0  1252.0  1813.0               Yeti Cycles
1    2171.0     3578.0  1097.0  4342.0  5439.0  Cannondale Bicycle Corp.
2    1519.0     2443.0   900.0  1519.0  2419.0  Cannondale Bicycle Corp.
3     713.0     1120.0   482.0  2139.0  2621.0                Fuji Bikes
4     344.0      540.0   185.0   344.0   529.0                Fuji Bikes

   shipping_option  shipping_id  shipping_cost  num
0              Yes  140544-1423           14.0  1.0
1              Yes  240544-1133           11.0  2.0
2              Yes  140544-1317           13.0  3.0
3              Yes  340544-1539           15.0  4.0
4              Yes  140544-1542           15.0  5.0

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 21463 entries, 0 to 21462
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              21463 non-null  datetime64[ns]
 1   day               21463 non-null  int64
 2   month             21463 non-null  object
 3   year              21463 non-null  int64
 4   customer_id       21463 non-null  object
 5   customer_age      21463 non-null  int64
 6   age_group         21463 non-null  object
 7   customer_gender   21463 non-null  object
 8   country           21463 non-null  object
 9   state             21463 non-null  object
 10  product_category  21463 non-null  object
 11  sub_category      21463 non-null  object
 12  product_id        21463 non-null  object
 13  product           21463 non-null  object
 14  order_id          21463 non-null  object
 15  order_quantity    21463 non-null  int64
 16  unit_cost         21463 non-null  float64
 17  unit_price        21463 non-null  float64
 18  profit            21463 non-null  float64
 19  cost              21463 non-null  float64
 20  revenue           21463 non-null  float64
 21  manufacturer      21463 non-null  object
 22  shipping_option   21463 non-null  object
 23  shipping_id       21463 non-null  object
 24  shipping_cost     21463 non-null  float64
 25  num               21463 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(4), object(14)
memory usage: 4.4+ MB
None
                                date           day          year  \
count                          21463  21463.000000  21463.000000
mean   2013-04-01 15:18:57.716069376     15.193123   2012.625821
min              2011-01-01 00:00:00      1.000000   2011.000000
25%              2013-01-02 00:00:00      7.000000   2013.000000
50%              2013-08-19 00:00:00     15.000000   2013.000000
75%              2013-09-30 00:00:00     23.000000   2013.000000
max              2013-11-09 00:00:00     31.000000   2013.000000
std                              NaN      8.896286      0.695445

       customer_age  order_quantity     unit_cost    unit_price        profit  \
count  21463.000000    21463.000000  21463.000000  21463.000000  21463.000000
mean      34.943950        9.282160    517.612822    866.505614    462.515259
min       17.000000        1.000000      1.000000      2.000000    -25.000000
25%       27.000000        1.000000      3.000000      9.000000     50.000000
50%       33.000000        4.000000     26.000000     50.000000    240.000000
75%       42.000000       17.000000   1083.000000   1701.000000    630.000000
max       86.000000       30.000000   2171.000000   3578.000000  14055.000000
std       10.843065        9.445036    699.282396   1166.253092    632.147271

               cost       revenue  shipping_cost          num
count  21463.000000  21463.000000   21463.000000  21463.00000
mean     876.870382   1339.385640      12.943624  10732.00000
min        1.000000      2.000000       3.000000      1.00000
25%       46.000000    104.000000      11.000000   5366.50000
50%      336.000000    601.000000      14.000000  10732.00000
75%     1266.000000   1955.000000      15.000000  16097.50000
max    40014.000000  54069.000000      15.000000  21463.00000
std     1276.549824   1872.115995       2.578881   6195.97875

In [26]:
import pandas as pd

# Memuat dataset
file_path = "/content/Bike Sales Dataset.csv"
df = pd.read_csv(file_path)

# Dimensi Pelanggan
customer_dim = df[['Age_Group', 'Country', 'Customer_Age', 'Customer_Gender', 'Customer_ID', 'State']].drop_duplicates()

# Dimensi Produk
product_dim = df[['Manufacturer', 'Product', 'Product_Category', 'Product_ID', 'Sub_Category', 'Unit_Cost', 'Unit_Price']].drop_duplicates()

# Dimensi Pengiriman
shipping_dim = df[['Shipping_Cost', 'Shipping_ID', 'Shipping_Option']].drop_duplicates()

# Dimensi Tanggal
date_dim = df[['Date', 'Day', 'Month', 'Year']].drop_duplicates()

# Fakta Pesanan
fact_order = df[['Age_Group', 'Cost', 'Country', 'Customer_Age', 'Customer_Gender', 'Customer_ID', 'Date', 'Day', 'Manufacturer']].drop_duplicates()

# Menyimpan DataFrame ke file CSV
customer_dim.to_csv('customer_dim.csv', index=False)
product_dim.to_csv('product_dim.csv', index=False)
shipping_dim.to_csv('shipping_dim.csv', index=False)
date_dim.to_csv('date_dim.csv', index=False)
fact_order.to_csv('fact_order.csv', index=False)

# Menampilkan beberapa baris pertama dari setiap DataFrame
print("Customer Dimension")
print(customer_dim.head())

print("\nProduct Dimension")
print(product_dim.head())

print("\nShipping Dimension")
print(shipping_dim.head())

print("\nDate Dimension")
print(date_dim.head())

print("\nFact Orders")
print(fact_order.head())

Customer Dimension
              Age_Group        Country  Customer_Age Customer_Gender  \
0           Youth (<25)      Australia            23               M
1  Young Adults (25-34)         France            33               F
2           Youth (<25)         Canada            17               M
3        Adults (35-64)  United States            39               M
4        Adults (35-64)  United States            42               M

  Customer_ID             State
0         C-1          Victoria
1         C-2           Yveline
2         C-3  British Columbia
3         C-4        Washington
4         C-5        California

Product Dimension
               Manufacturer                 Product Product_Category  \
0               Yeti Cycles  Mountain-200 Black, 46            Bikes
1  Cannondale Bicycle Corp.        Road-150 Red, 48            Bikes
2  Cannondale Bicycle Corp.        Road-250 Red, 44            Bikes
3                Fuji Bikes   Road-550-W Yellow, 38            Bikes
4                Fuji Bikes      Road-750 Black, 44            Bikes

  Product_ID    Sub_Category  Unit_Cost  Unit_Price
0      P345B  Mountain Bikes       1252        2295
1      P743B      Road Bikes       2171        3578
2      P943B      Road Bikes       1519        2443
3      P918B      Road Bikes        713        1120
4      P743B      Road Bikes        344         540

Shipping Dimension
   Shipping_Cost  Shipping_ID Shipping_Option
0             14  140544-1423             Yes
1             11  240544-1133             Yes
2             13  140544-1317             Yes
3             15  340544-1539             Yes
4             15  140544-1542             Yes

Date Dimension
        Date  Day    Month  Year
0   1/1/2011    1  January  2011
5   1/2/2011    2  January  2011
9   1/3/2011    3  January  2011
17  1/4/2011    4  January  2011
22  1/5/2011    5  January  2011

Fact Orders
              Age_Group  Cost        Country  Customer_Age Customer_Gender  \
0           Youth (<25)  1252      Australia            23               M
1  Young Adults (25-34)  4342         France            33               F
2           Youth (<25)  1519         Canada            17               M
3        Adults (35-64)  2139  United States            39               M
4        Adults (35-64)   344  United States            42               M

  Customer_ID      Date  Day              Manufacturer
0         C-1  1/1/2011    1               Yeti Cycles
1         C-2  1/1/2011    1  Cannondale Bicycle Corp.
2         C-3  1/1/2011    1  Cannondale Bicycle Corp.
3         C-4  1/1/2011    1                Fuji Bikes
4         C-5  1/1/2011    1                Fuji Bikes